{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Kafui's Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="topSection">
      <h1>Kafui's Blog</h1>
      <p class="subHeading">
        Welcome to my blog. A forum that discusses everything from waakye
        recipes to cupcakes and hugs. Enjoy! & #NeverGiveUp
      </p>
    </div>
    <div class="articles">{% block content %} {% endblock %}</div>

    <div>
      <div class="tutorialSection">
        <p>
          This blog is powered by Python's Django framework. I followed the
          <a href="https://tutorial.djangogirls.org" target="_blank"
            >Django Girls Tutorial</a
          >
          to build it. You can too. I wish you all the best in your programming
          journey!
        </p>
      </div>
      <div class="tutorialCards">
        <div class="tutorial">
          <img
            class="tutorialImage"
            src="{% static 'images/django_girls_tutorial.jpg' %}"
            alt="Django Girls tutorial"
          />
          <a href="https://tutorial.djangogirls.org" class="tutorialTitle"
            >Official Django Girls tutorial</a
          >
          <p class="description">Regularly updated</p>
        </div>
        <div class="tutorial">
          <img
            class="tutorialImage"
            src="{% static 'images/django_girls_tutorial.jpg' %}"
            alt="YouTube tutorial"
          />
          <a
            href="https://www.youtube.com/playlist?list=PLCVY0B6uq3etSa5iVf4xXprUQ2DaEl9LS"
            class="tutorialTitle"
            >YouTube tutorial by CodeParse</a
          >
          <p class="description">Last updated more than 7 years ago</p>
        </div>
      </div>
    </div>
  </body>
</html>
