{% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta
      name="description"
      content="{{ post.text|striptags|truncatewords:30 }}"
    />
    <meta name="author" content="Kafui" />
    <meta property="og:image" content="{{ post.featured_image.url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}" />
  </head>

  <body>
    <header>
      <div class="homeLogo">
        <h1 class="home">
          <a href="/">Kafui's Blog</a>
        </h1>
        <div class="bar"></div>
      </div>
    </header>
    <div>
      <article class="post">
        {% if post.published_date %}
        <time class="date"> {{ post.published_date }} </time>
        {% endif %}
        <h1>{{ post.title }}</h1>
        {% if post.featured_image %}
        <img
          src="{{ post.featured_image.url }}"
          alt="{{ post.title }}"
          class="featured-image"
        />
        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
      </article>
      <div class="share-container">
        <button id="share-button">
          Share
          <img
            id="share-icon"
            src="{% static 'images/share_icon.png' %}"
            alt="Share"
          />
          <img
            id="check-icon"
            src="{% static 'images/check_icon.png' %}"
            alt="Copied"
            style="display: none"
          />
        </button>
      </div>
    </div>
    <!-- Script -->
    <script>
      document
        .getElementById("share-button")
        .addEventListener("click", function () {
          const url = window.location.href;
          navigator.clipboard.writeText(url).then(
            function () {
              // Change the text and icons
              const shareButton = document.getElementById("share-button");
              const shareIcon = document.getElementById("share-icon");
              const checkIcon = document.getElementById("check-icon");

              shareIcon.style.display = "none";
              checkIcon.style.display = "inline";
              shareButton.textContent = "Copied!";

              // Revert back after 3 seconds
              setTimeout(function () {
                shareIcon.style.display = "inline";
                checkIcon.style.display = "none";
                shareButton.textContent = "Share";
              }, 3000);
            },
            function (err) {
              console.error("Could not copy text: ", err);
            }
          );
        });
    </script>
  </body>
</html>
{% endblock %}
