{% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}" />
  </head>

  <body>
    <header>
      <a href="/">Go back home</a>
    </header>
    <div>
      <article class="post">
        {% if post.published_date %}
        <time class="date"> {{ post.published_date }} </time>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
      </article>
      <div class="share-container">
        <button id="share-button">
          Share
          <img
            id="share-icon"
            src="{% static 'images/share_icon.png' %}"
            alt="Share"
          />
          <img
            id="check-icon"
            src="{% static 'images/check_icon.png' %}"
            alt="Copied"
            style="display: none"
          />
        </button>
      </div>
    </div>
    <!-- Script -->
    <script>
      document
        .getElementById("share-button")
        .addEventListener("click", function () {
          const url = window.location.href;
          navigator.clipboard.writeText(url).then(
            function () {
              document.getElementById("share-icon").style.display = "none";
              document.getElementById("check-icon").style.display = "inline";
              setTimeout(function () {
                document.getElementById("share-icon").style.display = "inline";
                document.getElementById("check-icon").style.display = "none";
              }, 3000); // Revert back after 3 seconds
            },
            function (err) {
              console.error("Could not copy text: ", err);
            }
          );
        });
    </script>
  </body>
</html>
{% endblock %}
