h1 a,
h1 {
  color: #081875;
  font-family: serif;
  font-weight: 500;
}

body {
  background-color: #f0eee6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px auto 0 auto;
  width: 60%;
}

.post {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

time {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #818181;
}

@media (max-width: 768px) {
  body {
    width: calc(100% - 32px);
  }
}
